.details {
	position: fixed;
	left: 20%;
	right: 20%;
	bottom: -3px;
	border-radius: 10px 10px 0 0;
	padding: 1em 1em .2em;
	height: 20%;
	overflow: auto;
	display: none;
}

.details:target {
	display: block;
}