/* 
CSS code for the board
*/
#board{
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-o-transform: scale(0.5);
	transform: scale(0.5);
	float:left;
}
#cb_main{
	position:relative;
	width:900px; 
	height:600px;  
	border: 1px solid #000000;
}
#cb_cpu{
	top:400px;
	left:250px;
	width:500px; 
	height:100px;
}

#cb_jmp{
	width:55px; 
	height:25px; 
	top:200px;
	left:705px;
	padding-left:7px;
}
#cb_aref{
	width:25px; 
	height:55px; 
	top:490px;
	left:755px;
}
#cb_se1{
	top:70px;
	left:780px;
	width:160px; 
	height:350px; 
}
#cb_se2{
	top:300px;
	left:-40px;
	width:170px; 
	height:250px; 
}
#cb_con{
	top:210px;
	left:250px;
	width:340px; 
	height:60px; 
}
#cb_net{
	top:170px;
	left:0px;
	width:175px; 
	height:110px;
	border: 1px solid #000000;
}
#cb_ana{
	top:540px;
	left:250px;
	width:500px;
	height:50px;
}
#cb_ac{
	top:60px;
	left:10px;
	width:50px;
	height:100px;
}
.cb_pin{
	width:70px; 
	height:140px;
}
.cb_pin_inner{
	top:10px;
	left:10px;
	width:50px;
	height:120px;
	position:absolute;
	background:#202020;
}
.cb_pin_inner_dist{
	top:10px;
	left:0px;
	height:10px;
}
.cb_pin.ext{
	top:40px;
	left:700px;
}
.cb_pin.isp{
	top:150px;
	left:610px;
}
.cb_el{
	position:absolute;
}
.a_box{
	width:48px;
	height:48px;
	border: 1px solid #000000;
	float: left;
}
.circle{
	position: absolute;
    width: 39px;
    height: 39px;
    border-radius: 100px;
    border: 1px solid #000000;
}
.circle.lo{
	top: 10px;
    left: 10px;
}
.circle.ro{
	top: 10px;
    left: 850px;
}
.circle.lu{
	top: 550px;
    left: 10px;
}
.circle.ru{
	top: 550px;
    left: 850px;
}
.circle.screw {
	background:#D3D3D3;
    margin:4px;
}
.pin{
	float:left;
	background:#FFCC00;
    width: 5px;
    height: 5px;
    border-radius: 100px;
    margin: 10px;
}
.feet {
	float:left;
	top: -15px;
	width: 15px;
	height:120px;
	margin:-10px 5px 5px;
	background:#D3D3D3;
}
.feet.short{
	height:80px;
	width: 14px;
}

/*
 * Short test of the visual effect displaying a selected component.
 */
.selected{
    box-shadow: 0 0 13px 7px #33B5E5;
    z-index:1000000;
    position:relative;
}

