/* 
CSS code for the board
*/
#board{
	margin:auto;
	width:600px;
}
.led_on{
	box-shadow: 0 0 10px 5px #c00;
	-webkit-box-shadow: 0 0 10px 5px #c00;
	-moz-box-shadow: 0 0 10px 5px #c00;
	background:#e00;
	top:3px;
	left:285px;
}
#cb_main{
	position:relative;
	top:150px;
	width:450px; 
	height:300px;  
	border: 1px solid #000000;
}
#cb_cpu{
	top:200px;
	left:125px;
	width:260px; 
	height:50px;
}
.cb_se {
	width:80px;
}
.cb_se.bar{
	width:25%;
	height:100%;
}
.cb_se.mon{
	left:-30%;
	width:70%;
	height:7.5%;
}
.cb_se.mon.up{
	top:2.5%;
}
.cb_se.mon.do{
	top:90%;
}
.cb_se.metal{
	top:12.5%;
	left:25%;
	width:25%;
	height:75%;
}
.cb_se.back{
	top:12.5%;
	left:-40%;
	width:60%;
	height:75%;
}

#cb_se1{
	top:50px;
	left:440px; 
	height:200px; 
}
#cb_se2{
	top:150px;
	left:-70px;
	height:125px;
	transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}
#cb_con{
	top:105px;
	left:125px;
	width:168px; 
	height:30px; 
}
#cb_net{
	top:85px;
	left:0px;
	width:87px; 
	height:55px;
	border: 1px solid #000000;
}
#cb_ana{
	top:270px;
	left:125px;
	width:260px;
	position:relative;
}
#cb_ac{
	top:30px;
	left:5px;
	width:25px;
}
.cb_pin{
	width:35px; 
	height:70px;
}
.cb_pin_inner{
	top:5px;
	left:5px;
	width:25px;
	height:60px;
	position:absolute;
	background:#202020;
}
.cb_pin_inner_dist{
	top:5px;
	left:0px;
	height:5px;
}
.cb_pin.ext{
	top:20px;
	left:350px;
}
.cb_pin.isp{
	top:75px;
	left:305px;
}
.cb_el{
	position:absolute;
}
.a_box{
	width:24px;
	height:24px;
	border: 1px solid #000000;
	float: left;
}
.circle{
	position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    border: 1px solid #000000;
}
.circle.lo{
	top: 5px;
    left: 5px;
}
.circle.ro{
	top: 5px;
    left: 425px;
}
.circle.lu{
	top: 275px;
    left: 5px;
}
.circle.ru{
	top: 275px;
    left: 425px;
}
.screw {
    margin:1px;
}
.screw.head {
    height: 4px;
    margin-top: 8px;
    transform:rotate(150deg);
    -webkit-transform:rotate(150deg);
	background:#888;
}
.pin{
	float:left;
	background:#FFCC00;
    width: 2px;
    height: 2px;
    border-radius: 100px;
    margin: 5px;
}
.feet {
	float:left;
	top: -7px;
	width: 7px;
	height:60px;
	margin:-5px 3px;
	background:#D3D3D3;
}
.feet.short{
	height:40px;
	width: 6px;
}

/*
 * anklickbaren Pins für CB_SE und EXT
 */
#cb_se_pins{
	position:relative;
	top:-50px;
	left:70px;
}
#cb_se_pins_dist{
	top:10px;
}
.cb_pins_dist{
	position:absolute;
	width:30px;
}
.cb_pins_dist.b{
	left:22px;
}
#cb_ext_pins{
	position:relative;
	top:-150px;
	left:-6px;
}
#cb_ext_pins_dist{
	left:24px;
}
#cb_ext_pins_bar{
	position:relative;
	top:-34px;
	height:32px;
	padding:0px 16px 0px 16px;
	border-top:2px solid #33b5e5;
}
#cb_ext_pins_bar_h{
	background:#33b5e5;
	width:100%;
	height:100%;
}
.pinCheck input[type=checkbox] {
	visibility: hidden;
}
.pinCheck {
	width: 20px;
	height: 20px;
	background: #D3D3D3;
	margin: 1px 1px 2px 2px;
	border-radius: 100px;
	position: relative;
	float:left;
}

.pinCheck label {
	cursor: pointer;
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 100px;
	left: 2px;
	top: 2px;
	background:#2B2B2B;
	font-size:11px;
	color:#fff;
	text-align:center;
}
.pinCheck label:before{
	color:#e0e0e0;
	content: '0';
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 100px;
	top: 0px;
	left: 0px;
}
.pinCheck label:after {
	filter: alpha(opacity=0);
	opacity: 0;
	content: 'I';
	position: absolute;
	width: 14px;
	height: 14px;
	background: #33b5e5;
	border-radius: 50px;
	top: 1px;
	left: 1px;
}

.pinCheck:hover{
	 box-shadow: 0 0 6px 3px #33B5E5;
    z-index:1000000;
    position:relative;
}

.pinCheck input[type=checkbox]:checked + label:after {
	filter: alpha(opacity=100);
	opacity: 1;
}

.pinCheckUnclickable label {
	background:rgba(0,0,0,0);
}
.pinCheckUnclickable label:before {
	color:#2B2B2B;
}
.pinCheckUnclickable input[type=checkbox]:checked + label:after {
	opacity:0;
}

.pinCheckGround label:before {
	content: '-';
}

.pinCheckPlus label:before {
	content: '+';
}

.pinCheckAnaloglabel:before {
	content: 'A';
}



/*
 * Short test of the visual effect displaying a selected component.
 */
.selected{
    box-shadow: 0 0 13px 7px #33B5E5;
    z-index:1000000;
    position:relative;
}

