@CHARSET "UTF-8";

*{
	padding:0;
	margin:0;
	font-family:Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
}

#main{
	position:fixed;
	width:100%;
	height:100%;
}

.mainDiv{
	display:none;
	height:100%;
	padding:10px;
}

#header{
	background:#2B2B2B;
	border-bottom:solid 3px #33b5e5;
	padding:10px 0 10px 0;
	text-align:center;
}

.centered {
	margin-left:auto;
	margin-right:auto;
}

.buttonlink{
	border-bottom:solid 3px;
	color:#FFFFFF;
	padding:0 20px 7px 20px;
	margin:0 10px 0 10px;
	font-weight: bold;
	font-size:1.1em;
	text-decoration: none;
	outline:none;
}
h1 {
	margin: 10px 0 10px 0;
}

.background{
	background:#fcfcfc;
}
.black{
	background:#000000;
}
.green{
	background:#008000;
}
.silver{
	background:#D3D3D3;
}
.blue{
	background:#4169E1;
}

p{
	margin-top:10px;
}
p.detail{
	color:#777;
	margin-left:10px;
	margin-top:0px;
}
.sidebar{
	overflow-y:scroll;
	text-align:left;
	padding: 0  20px 20px 20px;
	margin-left:20px;
	float:right;
	width:250px;
	background:#eee;
	box-shadow:
		inset 7px 0px 10px -7px #888,
		inset 0px 7px 10px -7px #888;
	-webkit-box-shadow:
		inset 7px 0px 10px -7px #888,
		inset 0px 7px 10px -7px #888;
	-moz-box-shadow:
		inset 7px 0px 10px -7px #888,
		inset 0px 7px 10px -7px #888;
	height:100%;
	margin:-10px -10px -10px 10px;
}

tr .title {
	text-align:right;
	border-right:1px solid #ccc;
	color:#2B2B2B;
	font-weight:bold;
}
tr .detail {
	min-width:400px;
}

.detail input {
	margin-top:3px;
}

table{
	text-align:left;
	border-collapse:collapse;
	margin:20px;	
}

table th{
	font-size:14px;
	font-weight:normal;
	color:#666;
	padding:15px 15px;
}
table td{
	color:#666;
	padding:15px 15px;
	text-align:center;
}

table td p {
	padding:0;
	margin:0;
}

table tr{
	border-top:1px solid #ccc;
}

table tr:first-of-type {
	border-top:0px solid #f00;
}